*{
  font-style: italic;
}

body{
  display: flex;
  justify-content: center;
  
}
.container{
  width: 60%;
  border: 1px solid rgb(74, 70, 70);
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(45deg,rgb(248, 222, 247),rgb(237, 230, 237),rgb(248, 239, 211) ) ;
}
.main{
  font-size: 20px;
}